.app-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "summer dream", sans-serif;
  align-items: center;
  border-bottom: 2px solid #000;
  background-color: #ffffff;
  width: 100%;
}
.app-navbar__logo {
  width: 140px;
}
.app-navbar__router {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app-navbar__router a,
p {
  text-decoration: none;
  text-align: center;
}
.burger,
.mobile {
  display: none;
}
.app-navbar__router-image {
  width: 40px;
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    position: absolute;
    top: 23px;
    left: 61%;
  }
  .burger {
    display: block;
    width: 33px;
    margin-left: 78px;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    height: 500px;
    opacity: 0.9;
  }
  .navbar-menu a {
    font-size: xx-large;
  }
  .links-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .link-list {
    display: flex;
    flex-direction: column;
  }
  .app-navbar__router-image {
    margin-top: 256%;
  }
}
