.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-card__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-card__links a {
  text-decoration: none;
  font-size: large;
  font-family: "summer dream", sans-serif;
  padding: 15px;
  background-color: aliceblue;
  border-radius: 30px;
}
